body {
    background-color: lightblue;
}

form {
    border: 2px solid black;
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 2rem;
}

form label, form input {
    display: block;
    margin: 10px 0;
}